<!-- SapoProject.Model.Entities.Product
@model X.PagedList.IPagedList<SapoProject.Model.Entities.Product>
@using X.PagedList.Mvc.Core; //import this so we get our HTML Helper
@using X.PagedList;
@using SapoProject.Areas.Customer.Models.DTO //import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)
-->
@{
	Layout = "_LayoutClient";
}
<!-- /.div -->
<div class="row">
	@foreach (var item in Model)
	{
		<div class="col-md-4 text-center col-sm-6 col-xs-6">
			<div class="thumbnail product-box">
				<img style="height:250px; overflow: hidden" src=@item.FilePath>
				<div class="caption">
					<div class="row-cols-1">
						<div class="content" style="height:100px; -webkit-line-clamp: 3;">
							<h3>
								<a style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical" asp-controller="Customer" asp-action="ProductDetail" asp-route-id="@item.Id">@item.ProductName</a>
							</h3>
						</div>
						<div class="col">
							<p>Price : <strong>@item.Price</strong>  </p>
							<button type="button" style="height: inherit; width:100%" class="btn btn-info" data-toggle="collapse" data-target="#longDescription_@item.Id">Brief of Product</button>
							<div id="longDescription_@item.Id" style="margin-top:20px; margin-bottom:20px" class="collapse">
								<p>	@Html.Raw(@item.ShortDescription)</p>
							</div>
							<p>
								<a asp-controller="Customer" asp-action="ProductDetail" asp-route-id="@item.Id" class="btn btn-primary" role="button">See Details</a>

								@*<a type="submit" class="btn btn-success" asp-action="AddToOrder" asp-controller="Product" asp-route-id="@item.Id">Add To Order</a>
									<button type="submit" class="btn btn-success" asp-action="AddToOrder" asp-controller="Product" asp-route-id="@item.Id">Add to Order</button>*@
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
</div>
<!--paging-->
<div class="row">
	<ul class="pagination alg-right-pad">
		@Html.PagedListPager(Model, pageNumber => Url.Action("Index", new PagingSearch { pageNumber = pageNumber, categoryName = @ViewBag.CategoryName, searchName = @ViewBag.searchName }))

	</ul>
</div>
