@model IEnumerable<SapoProject.Areas.Customer.Models.DTO.ProductShowOrderDetail>

@{
	ViewData["Title"] = "Order";
	Layout = "_LayoutClient";
}

<h1>Giỏ Hàng</h1>
<div class="list_product_order">
	<table class="table">
		<thead>
			<tr>
				<th>Ảnh Sản Phẩm</th>
				<th>Tên Sản Phẩm</th>
				<th>Giá Sản Phẩm</th>
				<th>Số Lượng</th>
				<th>Tổng Giá</th>
			</tr>
		</thead>
		<tbody>
			<h3><strong>@TempData["Message"]</strong></h3>

			@foreach (var item in Model)
			{
				<tr>
					<td>
						<div>
							<img src=@item.FilePath style="width:100px">
						</div>
					</td>
					<td>
						<h4 style="height:50px"><a asp-controller="Customer" asp-action="ProductDetail" asp-route-id="@item.Id">@item.ProductName</a></h4>
					</td>
					<td>
						<p id="price_@item.Id">@item.Price</p>
					</td>
					<td>
						<input type="number" index="@item.ProductId" data-val="true" class="product-quantity" target-price="@item.Price" id="quantity_@item.Id" name="quantity" min="1" value="@item.Quantity">
					<td>

						<p class="product-quantity-totalPrice">@item.PriceByQuantity</p>
					</td>
				</tr>
			}

		</tbody>
	</table>
</div>
<div id="partialViewTotalInformationOrderAjax">
	@Html.Partial("_PartialViewTotalInformationOrderAjax")
</div>
<form asp-action="ApprovalOrder" asp-controller="Product" method="post">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="form-group">
		<button type="submit">Chấp Nhận Mua Hàng!</button>
	</div>
</form>

<script type="text/javascript">
	
		var id = $(this).attr('id');
		console.log("id element " + id);
		var index = $(".product-quantity").index($("#" + id));
		console.log("index of element " + index);
		var indexProduct = $(this).attr('index');
		console.log("index product element " + indexProduct);
		var list = document.getElementsByClassName("list_product_order")[0];
		list.getElementsByClassName("product-quantity-totalPrice")[index].innerHTML = ($(this).attr('target-price') * $(this).val()).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
		document.getElementsByClassName("product-quantity-totalPrice").innerHTML = $('.total_price').val() + $(this).attr('target-price');
</script>

@* phần load lại trang khi thay đổi số tiền (demo) *@
<script type="text/javascript">
	$('.product-quantity').change(function () {
		var id = $(this).attr('id');
		console.log("id element " + id);
		var index = $(".product-quantity").index($("#" + id));
		console.log("index of element " + index);
		var indexProduct = $(this).attr('index');
		console.log("index product element " + indexProduct);
		var list = document.getElementsByClassName("list_product_order")[0];
		list.getElementsByClassName("product-quantity-totalPrice")[index].innerHTML = ($(this).attr('target-price') * $(this).val()).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
		document.getElementsByClassName("product-quantity-totalPrice").innerHTML = $('.total_price').val() + $(this).attr('target-price');


		//phần ajax
		$.ajax({
			type: "GET",
			url: 'https://localhost:44310/Customer/Product/UpdateQuantityByAjax',
			data: { productId: indexProduct, quantity: $(this).val() },

			success: function (result) {
				document.getElementById("partialViewTotalInformationOrderAjax").innerHTML = result;
				//console.log('my message' + result);
			},
			error: function () {
				alert("Error while inserting data");
			}
		});
		return false;

	});
</script>


@* js phần tăng giảm giá tiền khi thay đổi số lượng  *@
@*<script type="text/javascript">
		$('.product-quantity').change(function () {
			var id = $(this).attr('id');
			console.log(id);
			var index = $(".product-quantity").index($("#" + id));
			console.log(index);
			var list = document.getElementsByClassName("list_product_order")[0];
			list.getElementsByClassName("product-quantity-totalPrice")[index].innerHTML = ($(this).attr('target-price') * $(this).val()).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
			list.getElementsByClassName("product-quantity-totalPrice1")[index].innerHTML = $(this).attr('target-price') * $(this).val();
			document.getElementsByClassName("product-quantity-totalPrice").innerHTML = $('.total_price').val() + $(this).attr('target-price');
			console.log($('.total_price').val());
		});
	</script>*@


