@model IEnumerable<SapoProject.Areas.Admin.Models.Entities.Product>

@{
	Layout = "_Layout";
}

<h1>List Product</h1>

<form>

	<button style="height:auto; width:auto; margin-top:20px;margin-bottom:20px" asp-action="Create" class="btn btn-info">Create New Product</button>
</form>


<div class="card mb-4">
	<div class="card-header">
		<i class="fas fa-table mr-1"></i>
		@ViewData["Title"]
	</div>
	<div class="card-body">

		<div class="table-responsive w">

			<table class="table table-bordered table table-hover" id="dataTable" width="50%" cellspacing="0"
				   data-show-toggle="true"
				   data-show-refresh="true"
				   data-pagination-detail-h-align="right">
				<thead>
					<tr>
						<th>Product Name</th>
						<th>Image</th>
						<th>Price</th>
						<th>Original Price</th>
						<th>View Count</th>
						<th>Created Date</th>
						<th>Fixed Date</th>
						<th>Option</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>Product Name</th>
						<th>Image</th>
						<th>Price</th>
						<th>Original Price</th>
						<th>View Count</th>
						<th>Created Date</th>
						<th>Fixed Date</th>
						<th>Option</th>
					</tr>
				</tfoot>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>
								<div>
									@Html.DisplayFor(modelItem => item.ProductName)
								</div>
							</td>
							<td>
								<img src=@item.FilePath style="width:320px">
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Price)
							</td>
							<td style="width:100px">
								@Html.DisplayFor(modelItem => item.OriginalPrice)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.ViewCount)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.CreatedDate)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.FixedDate)
							</td>
							<td>

								<form>
									<div class="col">
										<button style="height:inherit; width:inherit; margin-top:15px" asp-action="ProductDetail" asp-route-id="@item.Id" class="btn btn-info">Details</button>
										<button style="height:inherit; width:inherit; margin-top:15px" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</button>
										<button style="height:inherit; width:inherit; margin-top:15px" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</button>
									</div>
								</form>

							</td>
						</tr>
					}
				</tbody>
			</table>


		</div>
	</div>
</div>
