@model IEnumerable<SapoProject.Areas.Admin.Models.Entities.Product>

@{
	ViewData["Title"] = "Index";
	Layout = "_Layout";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>


<div class="card mb-4">
	<div class="card-header">
		<i class="fas fa-table mr-1"></i>
		@ViewData["Title"]
	</div>
	<div class="card-body">

		<div class="table-responsive w">

			<table class="table table-bordered table table-hover" id="dataTable" width="50%" cellspacing="0"
				   data-show-toggle="true"
				   data-show-refresh="true"
				   data-pagination-detail-h-align="right">
				<thead>
					<tr>
						<th>Product Name</th>
						<th>Image</th>
						<th>Price</th>
						<th>Original Price</th>
						<th>Short Description</th>
						<th>Long Description</th>
						<th>View Count</th>
						<th>Created Date</th>
						<th>Fixed Date</th>
						<th>Option</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>Product Name</th>
						<th>Image</th>
						<th>Price</th>
						<th>Original Price</th>
						<th>Short Description</th>
						<th>Long Description</th>
						<th>View Count</th>
						<th>Created Date</th>
						<th>Fixed Date</th>
						<th>Option</th>
					</tr>
				</tfoot>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>
								<div>
									@Html.DisplayFor(modelItem => item.ProductName)
								</div>
							</td>
							<td>
								<img src=@item.FilePath width="100" height="150">
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Price)
							</td>
							<td style="width:100px">
								@Html.DisplayFor(modelItem => item.OriginalPrice)
							</td>
							<td>
								<div style="overflow: scroll;width: 250px; height:400px;font-size:1vw">
									@Html.Raw(@item.ShortDescription)
								</div>
							</td>
							<td>
								<div style="overflow: scroll;width: 400px; height:400px; font-size:1vw">
									@Html.Raw(@item.EntireDescription)
								</div>
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.ViewCount)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.CreatedDate)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.FixedDate)
							</td>
							<td>
								<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
								<a asp-action="ProductDetail" asp-route-id="@item.Id">Details</a> |
								<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
							</td>
						</tr>
					}
				</tbody>
			</table>


		</div>
	</div>
</div>	  