@model IEnumerable<SapoProject.Model.Entities.Product>

@{
	Layout = "_Layout";
}

	<h1>@ViewData["Title"]</h1>

<form>
	<button style="height:auto; width:auto; margin-top:20px;margin-bottom:20px" asp-action="Create" class="btn btn-info">Tạo Mới Sản Phẩm</button>
</form>


<div class="card mb-4">
	<div class="card-header">
		<i class="fas fa-table mr-1"></i>
		@ViewData["Title"]
	</div>
	<div class="card-body">

		<div class="table-responsive w">

			<table class="table table-bordered table table-hover" id="dataTable" width="100%" cellspacing="0"
				   data-show-toggle="true"
				   data-show-refresh="true"
				   data-pagination-detail-h-align="right">
				<thead>
					<tr>
						<th style="width:15%; text-align:center">Tên Sản Phẩm</th>
						<th style="width:10%; text-align:center">Ảnh Sản Phẩm</th>
						<th style="width:5%; text-align:center">Giá Bán</th>
						<th style="width:5%; text-align:center">Ngày Tạo</th>
						<th style="width:12%; text-align:center">Ngày Chỉnh Sửa</th>
						<th style="width:10%; text-align:center">Tùy Chọn</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td style="text-align: center">
								<div style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical">
									@Html.DisplayFor(modelItem => item.ProductName)
								</div>
							</td>
							<td style="text-align: center">
								<img src=@item.FilePath style="height:100px">
							</td>
							<td style="text-align: center">
								@Html.DisplayFor(modelItem => item.Price)
							</td>

							<td style="text-align: center">
								@Html.DisplayFor(modelItem => item.CreatedDate)
							</td>
							<td style="text-align: center">
								@Html.DisplayFor(modelItem => item.FixedDate)
							</td>
							<td style="text-align: center">
								<form>
									<div class="col">
										<button style="height:inherit; width:inherit; margin-top:15px" asp-action="ProductDetail" asp-route-id="@item.Id" class="btn btn-info">Chi Tiết</button>
										<button style="height:inherit; width:inherit; margin-top:15px" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Sửa</button>
										<button style="height:inherit; width:inherit; margin-top:15px" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Xóa</button>
									</div>
								</form>

							</td>
						</tr>
					}
				</tbody>
			</table>


		</div>
	</div>
</div>
