@model SapoProject.Areas.Admin.Models.Entities.Product

@{
	ViewData["Title"] = "ProductDetail";
	Layout = "_Layout";
}

<h1>ProductDetail</h1>

<div>
	<h4>Product</h4>
	<hr />
	<div class="col-md-13">
		<div class="col">
			<div class="row">
				<div class="col-md-6">
					<img src="@Model.FilePath" />
				</div>
				<div class="col-md-6">
					<div class="col">
						<div class="row">
							<h2>@Html.DisplayFor(model => model.ProductName)</h2>
						</div>
						<div class="row">
							<h3 style="color:red">
								@Model.Price
							</h3>
							<div class="font-italic">
								<h5>
									<del>
										@Model.OriginalPrice

									</del>
								</h5>
							</div>

						</div>
					</div>
					<div style="overflow: scroll;width: 400px; height:400px">@Html.Raw(@Model.ShortDescription)</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card" style="width: 60rem">
				<div style="overflow: scroll;width:1000px; height:1500px">
					@Html.Raw(@Model.EntireDescription)
				</div>
			</div>
		</div>
	</div>
</div>

<div>
	<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
	<a asp-action="GetListProductWithDetail">Back to List</a>
</div>
