<!-- SapoProject.Model.Entities.Product
@using X.PagedList.Mvc.Core; //import this so we get our HTML Helper
@using X.PagedList; //import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)
-->
@{

}
<!-- /.div -->
<div class="col-md-9">
	<div class="row">
		<div class="btn-group alg-right-pad">
			<button type="button" class="btn btn-default"><strong>1235  </strong>items</button>
			<div class="btn-group">
				<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
					Sort Products &nbsp;
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#">By Price Low</a></li>
					<li class="divider"></li>
					<li><a href="#">By Price High</a></li>
					<li class="divider"></li>
					<li><a href="#">By Popularity</a></li>
					<li class="divider"></li>
					<li><a href="#">By Reviews</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		@foreach (var item in @ViewBag.listPagedProduct)
		{
			<div class="col-md-4 text-center col-sm-6 col-xs-6">
				<div class="thumbnail product-box">
					<img src=@item.FilePath>
					<div class="caption">
						<h4 style="height:50px"><a href="#">@item.ProductName</a></h4>
						<p>Price : <strong>@item.Price</strong>  </p>
						<button type="button" style="height: inherit; width:100%" class="btn btn-info" data-toggle="collapse" data-target="#longDescription_@item.Id">Brief of Product</button>
						<div id="longDescription_@item.Id" style="margin-top:20px; margin-bottom:20px" class="collapse">
							<p>	@Html.Raw(@item.ShortDescription)</p>
						</div>
						<p><a href="#" class="btn btn-success" role="button">Add To Cart</a> <a asp-controller="Customer" asp-action="ProductDetail" asp-route-id="@item.Id" class="btn btn-primary" role="button">See Details</a></p>
					</div>
				</div>
			</div>
		}
	</div>
	<!--paging-->
	<div class="row">
		<ul class="pagination alg-right-pad">
			@Html.PagedListPager((IPagedList)ViewBag.listPagedProduct, pageNumber => Url.Action("Index", new { pageNumber, name = @ViewBag.CategoryName }))

		</ul>
	</div>

</div>